@model Weblitz.Shop.Web.Models.View.Page

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@Model.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <header>
                <div class="profile">
                    @{ Html.RenderAction("Summary", "Account"); }
                </div>
                <div class="navigation">
                    @{ Html.RenderAction("Index", "Navigation"); }
                </div>
                <div class="search">
                    @{ Html.RenderAction("Index", "Search"); }
                </div>
                <div class="menu">
                    @{ Html.RenderAction("Menu", "Navigation"); }
                </div>
                @if (Model.Trail != null)
                {
                    <div class="trail">
                        @{ Html.RenderPartial("_Trail", Model.Trail); }
                    </div>
                }
            </header>
            <section id="@Model.SectionId">
                @RenderBody()
            </section>
            <footer>
                <hr/>
                <div class="about">
                    @{ Html.RenderAction("About", "Shop"); }
                </div>
                <hr/>
                <div class="newsletter">
                    @{ Html.RenderAction("Newsletter", "Account"); }
                </div>
                <hr/>
                <div class="sitemap">
                    @{ Html.RenderAction("SiteMap", "Navigation"); }
                </div>
                <hr/>
                <div class="copyright muted">
                    <small>Weblitz &copy; @Model.CurrentYear</small>
                </div>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function() {
                @RenderSection("onready", required: false)
            });
        </script>
    </body>
</html>