<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="header">
            <div id="account">
                
            </div>
            <div id="navigation">
                
            </div>
            <div id="categories">
                
            </div>
            <div id="search">
                
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <div id="about">
                
            </div>
            <div id="contact">
                
            </div>
            <div id="sitemap">
                
            </div>
            <div id="copyright">
                <p>Weblitz &copy; @DateTime.Now.Year</p>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>