@model Weblitz.Shop.Web.Models.View.Page

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@Model.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <header>
                <div class="profile">
                    @Html.Action("Summary", "Account")
                </div>
                <div class="navigation">
                    @Html.Action("Index", "Navigation")
                </div>
                <div class="search">
                    @Html.Action("Index", "Search")
                </div>
                <div class="menu">
                    @Html.Action("Menu", "Navigation")
                </div>
            </header>
            <section id="@Model.SectionId">
                @RenderBody()
            </section>
            <footer>
                <hr/>
                <div class="about">
                    @Html.Action("About", "Shop")                                            
                </div>
                <hr/>
                <div class="newsletter">
                    @Html.Action("Newsletter", "Account")
                </div>
                <hr/>
                <div class="sitemap">
                    @Html.Action("SiteMap", "Navigation")
                </div>
                <hr/>
                <div class="copyright muted">
                    <small>Weblitz &copy; @Model.CurrentYear</small>
                </div>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function() {
                @RenderSection("onready", required: false)
            });
        </script>
    </body>
</html>