@model Weblitz.Shop.Web.Models.View.Page

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@Model.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="@Model.BodyId">
        <div class="header">
            <div class="account">@{ Html.RenderAction("Summary", "Account"); }</div>
            <div class="navigation">@{ Html.RenderAction("Index", "Navigation"); }</div>
            <div class="menu">@{ Html.RenderAction("Menu", "Navigation"); }</div>
            <div class="search">@{ Html.RenderAction("Index", "Search"); }</div>
        </div>
        <div class="section">@RenderBody()</div>
        <div class="footer">
            <div class="about">@{ Html.RenderAction("About", "Shop"); }</div>
            <div class="contact">@{ Html.RenderAction("Contact", "Shop"); }</div>
            <div class="sitemap">@{ Html.RenderAction("SiteMap", "Navigation"); }</div>
            <div class="copyright"><p>Weblitz &copy; @Model.CurrentYear</p></div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>