@model Weblitz.Shop.Web.Models.View.IPageable

@{
    var routeValues = new RouteValueDictionary(Model.PageLink.RouteValues)
        {
            {"page", 0}, 
            {"itemsPerPage", Model.ItemsPerPage}
        };
    var startPage = Model.CurrentPage - (Model.WindowSize/2);
    var endPage = Model.CurrentPage + (Model.WindowSize/2);
    if (startPage < 1)
    {
        startPage = 1;
        endPage = Model.WindowSize;
    }
    if (endPage > Model.PageCount)
    {
        endPage = Model.PageCount;
    }
}

<div class="pagination pagination-right">
    <ul>
        @if (Model.CurrentPage > 1)
        {
            routeValues["page"] = Model.CurrentPage - 1;
            <li>
                <a href="@Url.Action(Model.PageLink.ActionName, Model.PageLink.ControllerName, routeValues)">&lsaquo;</a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#">&lsaquo;</a>
            </li>
        }
        @for (var i = startPage; i <= endPage; i++)
        {
            routeValues["page"] = i;
            if (i == Model.CurrentPage)
            {
                <li class="active">
                    <a href="@Url.Action(Model.PageLink.ActionName, Model.PageLink.ControllerName, routeValues)">@i</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action(Model.PageLink.ActionName, Model.PageLink.ControllerName, routeValues)">@i</a>
                </li>
            }
        }
        @if (Model.CurrentPage < Model.PageCount)
        {
            routeValues["page"] = Model.CurrentPage + 1;
            <li>
                <a href="@Url.Action(Model.PageLink.ActionName, Model.PageLink.ControllerName, routeValues)">&rsaquo;</a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a href="#">&rsaquo;</a>
            </li>
        }
    </ul>
</div>
