<div class="navbar">
    <div class="navbar-inner">
        @Html.ActionLink("Weblitz Shop", "Index", "Shop", null, new {@class = "brand logo"})
        <ul class="nav pull-right">
            <li>@Html.ActionLink("Home", "Index", "Shop", null, new {@class = "home"})</li>
            <li>@Html.ActionLink("Wish List", "WishList", "Account", null, new {@class = "wish-list"})</li>
            <li>@Html.ActionLink("Account", "Index", "Account", null, new {@class = "account"})</li>
            <li>@Html.ActionLink("Checkout", "Checkout", "Shop", null, new {@class = "checkout"})</li>
            <li class="dropdown">@Html.Action("CartSummary", "Shop")</li>
        </ul>
    </div>
</div>        
