@model Weblitz.Shop.Web.Models.View.CartSummary

<a href="#" class="dropdown-toggle cart-summary" data-toggle="dropdown">
    @Model.Items.Count item(s) - @Model.Total
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
    @if (Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <li>
                <ul>
                    <li>@Html.ImageLink(item.ImageUrl, item.Name, null, "Index", "Shop", null, null)</li>
                    <li class="lead">@Html.ActionLink(item.Name, "Index", "Shop")</li>
                    <li class="text-right">@item.Quantity</li>
                    <li class="text-right">@item.Cost</li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="empty">Your shoping cart is empty</li>
    }
</ul>