@model Weblitz.Shop.Web.Models.View.CartSummary

<div class="cart">
    <ul class="summary">
        <li>@Model.Items.Count item(s)</li>
        <li>@Model.Total</li>
    </ul>
    <ul class="content">
        @if (Model.Items.Count > 0)
        {
            foreach (var item in Model.Items)
            {
                <li class="item">
                    <ul>
                        <li class="thumbnail">@Html.ImageLink(item.ImageUrl, item.Name, null, "Index", "Shop", null, null)</li>
                        <li class="title">@Html.ActionLink(item.Name, "Index", "Shop")</li>
                        <li class="numeric">@item.Quantity</li>
                        <li class="currency">@item.Cost</li>
                    </ul>
                </li>
            }
        }
        else
        {
            <li class="empty">Your shoping cart is empty</li>
        }
    </ul>
</div>